div.page-header
  h1 Statement of Claim
p Lighthouse Chapel International, Auckland, is an independent NZ registered Charity.
p It has spiritual affiliations with over 1000 Lighthouse Chapel International Churches all over the world.
p We are focused on, soul winning, raising leaders and planting churches. If you are new to Lighthouse Chapel or have never been to one of our services we would love to invite you to our next meeting.
h2 Our Beliefs
ul
  li That God Almighty is the one and only true God.
  li That He is three-in-one, Father, Son and Holy Spirit, and Creator of all nature.
  li That Jesus Christ, born of the Virgin Mary is the only begotten son of the Father.
  li That He is God manifested and dwelt among men.
  li That all men have sinned and need redemption from their sins in order to have everlasting life in Heaven as opposed to eternal death in Hell.
  li That Jesus Christ died for the sins of all mankind on the cross and that salvation is available through Him alone.
  li That a Christian is someone who has consciously and willingly accepted Jesus Christ as Lord and Saviour.
  li That all activities in the lives of believers must be guided and directed by the Word of God which is the Bible.
  li That the ministry and gifts of the Holy Spirit to believers, as experienced by the early Church, is for us today.
  li That in accordance with the Scriptures, Jesus Christ will come again to reign on Earth and at the final judgement will judge each man individually for what he has believed, done, said and thought.
  li Lighthouse Chapel International has a primary role of preaching the Gospel of Jesus Christ by any means which is not contrary to the laws of the country where any Lighthouse Chapel International church is located.
h2 Our Purpose
p To provide a solid foundation of Bible-based instruction, training pastors, equipping our members to preach and teach the Gospel, while abiding by the laws of the country where the church is located.
h2 Our Vision
p To spread the Gospel through raising and sending missionaries, and planting churches throughout the world.
