div.page-header
  h1 Venue
address
  strong 2/20 Te Pai Place Henderson
  br
  | Phone:
  | (+64) 98371178
  br
  | (+64) 94167975
  br
  | (+64) 211636449

h2 Service Times
p Sunday 10am - 12:00 noon
p Tuesday 6:30pm - 8:00pm
p Friday 7:00pm - 10:00pm (Prayer Meeting)
