div.hero-unit
  p Here at Lighthouse Chapel, we are passionate about seeing lives changed as they are touched by the power and love of God.
  p With dynamic worship and life-transforming message of Christ you will be refreshed and encouraged by your time with us.
  p If you are new to Lighthouse Chapel or have never been to one of our services we would love to invite you to our next meeting.
  p Let Lighthouse Chapel be a blessing to your life.
  p
    a.btn.btn-primary.btn-large(href='/about') Learn more &raquo;
div.row
  div.span4
    h4 Venue
    address 2/20 Te Pai Place Henderson
    h4 Service Times
    dl.dl-horizontal
      dt Sunday
      dd 10am - 12pm noon
      dt Tuesday
      dd 6:30pm - 8pm
      dt Friday Prayer Meeting
      dd 7pm - 10pm
  div.span4
    h4 Upcoming Events
    dl.dl-horizontal
      dt Easter Convention
      dd April 3rd - 5th
      dt Easter Family Service
      dd April 8th
  div.span1
    a(href='http://twitter.com/lcinz')
      img(src='/images/twitter.png')
  div.span1
    img(src='/images/facebook.png')
  div.span1
    a(href='http://lcinz.tumblr.com')
      img(src='/images/tumblr.png')
  div.span1
    a(href='http://www.youtube.com/user/lighthousegh')
      img(src='/images/youtube.png')
